//@import './layout/_index.scss';
body {
  font-family: 'Lato', sans-serif;
  //   font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 984px;
}
a {
  color: black !important;
  &:hover {
    color: #198754 !important;
    transition: background-color 0.5s;
  }
}
.nav li a:hover {
  color: black !important;
  background-color: #ced4da !important;
  transition: background-color 0.5s;
}

.nav-link-active {
  color: #198754 !important;
  padding-left: 20px !important;
  border-left: 4px solid #198754;
}
.fz-xs {
  font-size: 12px;
}
.fz-s {
  font-size: 14px;
}
code {
  color: #198754;
  background-color: #f8f9fa;
  font-family: roboto;
}
.list-group-item.active {
  background-color: #f8f9fa !important;
  border-color: #ced4da !important;
}
.textarea-reply {
  width: 100%;
  height: 200px;
  border: none;
  resize: none;
  outline: none;
}
.b1 {
  border: 1px solid black;
}
